[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
build = "*"
twine = "*"

[dev-packages]
pre-commit = "*"
shell-tools = {editable = true, path = "."}

[requires]
python_version = "3.11"
